.nav-ul{    
  height: 44px;
  padding: 5px;
  margin: 0%;
  background-color: skyblue;
  font-family: inherit;
  font-size: x-large
}

.nav-ul li{
  display: inline;
  padding: 10px;
  margin: 10PX;
}

.nav-ul li a{
  text-decoration: none;
  color: white;
  padding: 5px;
}